/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px; /* Espacio para móviles */
    background-image: url('images/background.png'); 
    background-size: cover; 
    background-repeat: repeat; 
    background-position: center; 
    margin: 0;
}

/* Estilo del título */
.title {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilo del formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Máximo ancho del formulario */
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilo de las preguntas */
p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

/* Estilo de los radio buttons */
label {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1rem;
    transition: color 0.2s;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="number"] {
    margin-bottom: 10px;
}

/* Estilo del botón */
button {
    background-color: rgb(91, 0, 108);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: rgb(54, 0, 63);
}

/* Estilo del mensaje de agradecimiento */
.gracias {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

#mensaje {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 2px solid purple;
    padding: 20px;
    box-shadow: 0 0 2px purple, /* Sombra verde */ 
                0 0 3px purple, 
                0 0 4px purple, 
                0 0 5px purple, 
                0 0 6px purple, 
                0 0 7px purple, 
                0 0 8px purple;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem; /* Tamaño de fuente más pequeño para móviles */
    }

    form {
        padding: 15px; /* Espaciado reducido en móviles */
    }

    p {
        font-size: 1rem; /* Tamaño de fuente más pequeño para preguntas */
    }

    button {
        font-size: 1rem; /* Tamaño de fuente más pequeño para botones */
    }
}
