p {font-family: 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 17px;
	text-align: center;
}

body {background-image:url("imagenes/fondo3.jpg"); background-size: 100%;}

#banner3 {
    width: 90%; /* Ancho responsivo */
    max-width: 400px; /* Máximo ancho */
	min-width: 90%;
	max-height: 100px;
	min-height: 20px;
    margin: 20px auto; /* Centrando el banner */
    padding: 8px; /* Espaciado interno */
    background-color: #ece1ec; /* Color de fondo */
    color: rgb(32, 32, 32); /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
    text-align: center; /* Alinear texto al centro */
    font-family: 'Arial', sans-serif; /* Fuente */}

#banner2 {	
	margin: 80px auto;
	width: 80%;
	min-width: 330px;
	max-width: 430px;
	position: relative;
	height: auto;
	min-height: 300px;
	max-height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(168 207 204);}

.responsive-banner {
	margin: 80px auto;
	width: 50%;
	min-width: 300px;
	max-width: auto;
	position: relative;
	height: auto;
	min-height: 300px;
	max-height: 800px;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(168 207 204);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);}

#imagen1 {
	max-width : 330px;
	width: 100%;
	position: relative;}

.radio-container input[type="radio"] {
	appearance: none; /* Quitar el estilo predeterminado */
	width: 20px; /* Tamaño del botón */
	height: 20px; /* Tamaño del botón */
	border: 2px solid #333; /* Bordes */
	border-radius: 50%; /* Forma circular */
	margin-right: 10px; /* Espacio entre el botón y el texto */
	cursor: pointer; /* Cambiar cursor a puntero */
	transition: background-color 0.3s; /* Transición suave */}
	
/* Color cuando está seleccionado */
.radio-container input[type="radio"]:checked {
	background-color: black; /* Color negro cuando está seleccionado */
	border: none; /* Sin borde al estar seleccionado */}
	
	/* Estilo del texto */
.radio-container label {
	text-align: center; /* Centrar texto */
	font-size: 18px; /* Tamaño del texto */}

#enviar{
	display: block;
	margin: 0px auto 20px auto;
	width: 50%;
	height: 50px;
	border-radius: 10px;
	border-color: transparent;
	background-color: #ece1ec;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	transition: background-color 0.3s ease-out;
}

#enviar:hover{
	background-color: #cfcfcf;
}